<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="service-module-01">
    <resources>
        <resource-root path="service-module-01-impl-1.0.0-SNAPSHOT.jar" />
        <resource-root path="guava-23.0.jar" />
    </resources>
    <dependencies>
        <module name="service-module-01-api"/>
        <module name="common"/>
    </dependencies>
</module>