<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="service-module-02-api">
    <resources>
        <resource-root path="service-module-02-api-1.0.0-SNAPSHOT.jar" />
    </resources>
    <dependencies>
        <module name="service-module-02"/>
    </dependencies>
</module>